body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10px;
    background-color: #f4f4f4;
}

h1 {
    color: #1c1b1b;
    text-align: center; /* Center the title */
    margin: 30px;
    font-size: 35px;
}

h3 {
    color: #656464;
    text-align: center; /* Center the title */
    font-size: 23px;

}

.logo {
    max-width: 320px; /* Adjust the size of the logo as needed */
    height: 150px;
    display: block;
    margin: 0 auto 0px auto; /* Center the logo and add some space below it */
    padding: 0px;
}

.image-container {
    display: flex; /* Use flexbox to align images in a row */
    justify-content: center; /* Center the images horizontally */
    align-items: center; /* Center the images vertically if needed */
    flex-wrap: wrap; /* Wrap images to the next line if the screen is too small */
}

.image-item {
    margin: 10px; /* Space between each image-item */
    text-align: center; /* Center-align the image and text within each item */
}

.clickable-image {
    width: 300px; /* Adjust the image size */
    height: 200px;
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: transform 0.3s ease; /* Smooth hover effect */
}

.clickable-image:hover {
    transform: scale(1.1); /* Slightly enlarge the image on hover */
}

.image-name {
    margin-top: 5px; /* Space between the image and the text */
    font-size: 16px; /* Adjust the font size */
    color: #333; /* Text color */
}


.stopwatch-container {
    justify-content: center;
    display: inline-block;
    padding: 20px;
    background-color: #454648;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    color: #f4f4f4;
}

#stopwatch {
    justify-content: center;
    font-size: 80px;
    margin-bottom: 20px;
}

#startButton {
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
}

#timeRecords {
    margin-top: 20px;
    font-size: 16px;
}


.icon-button {
    font-size: 30px;
    background: none;
    border: none;
    color: #042c57;
    cursor: pointer;
    margin: 0px 0; /* Add margin to separate from other elements */
    padding: 10px;
    transition: color 0.3s ease, transform 0.3s ease;
    /* Move button to the right */
    margin-left: 150px; /* Adjust this value to move the button further right */
    margin-top: 50px;
}

.icon-button:hover {
    color: #1171d8;
    transform: scale(1.1);
}